body {
  background-color: #efefef;
  margin: 0;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  color: dodgerblue;
  text-align: center;
}

.todo-container {
  display: flex;
  justify-content: center;
}

.todo-wrapper {
  width: 400px;
  height: 600px;
  border: 1px solid #333;
  background-color: white;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
}

.todo-header {
  height: 80px;
  border-bottom: 1px solid #333;
  display: flex;
}

.todo-header-description {
  text-align: center;
  width: 80%;
}

.todo-header-success-date {
  text-align: center;
  width: 20%;
  border-left: 1px solid #333;
}

.todo-contents {
  height: 440px;
  overflow: scroll;
}

.todo-footer {
  height: 80px;
  margin: 0;
  border-top: 1px solid #333;
  display: flex;
}

.todo-inputbox {
  width: 80%;
}
.todo-submit-button {
  width: 20%;
}

.todo-list {

}

.todo-item {
  display: flex;
  height: 30px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.todo-item:hover {
  background-color: rgba(100, 100, 100, 0.4);
}

.todo-item-description {
  width: 80%;
}

.todo-item-success-date {
  width: 20%;
}

.success-text {
  text-decoration: line-through;
}